    <div class="modal-header">
      <h5 class="modal-title">Wrong Answer!</h5>
      <button type="button" class="btn-close"
      (click)="onClickClose()" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    
    <div class="modal-body">
      <p>Please answer only of you are sure!</p>
      <p>you will be redirected to the previous question!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"
      (click)="onClickClose()" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary"
      (click)="onClickLearn()">Learn Modus</button>
    </div>

  
  
  
  