
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" routerLinkActive="active" routerLink="single-modus" #multi>Single Modus</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" data-bs-toggle="tab" routerLinkActive="active" routerLink="multi-modus" #single>Multi Modus</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="single">
                <app-single-modus></app-single-modus>

            </div>
            <div class="tab-pane fade show active" id="multi">
                <app-multi-modus></app-multi-modus>
            </div>
        </div>
    </div>
</div>