.zoom {
  transition: transform 0.2s;
  margin: 0 auto;
}

.zoom:hover {
  border-color: 0px 0px 15px 1px rgba(45, 255, 196, 1);
  box-shadow: 0.4em 0.4em 1em rgb(255, 187, 0);
  transform: scale(0.9);
}

.justify {
  margin: 0.4em;
  text-align: justify;
}
