<div class="container border mb-3">
  <div class="row">
    <div class="col border">
      <p>Welcome Message</p>
      <div class="col mb-3">
        <a (click)="onClick101()" routerLink="../learn-modus/single-modus/1">
          <img
            class="img-fluid rounded mx-auto d-block mb-3 border border-warning border-2 zoom"
            src="../../assets/img/101.jpg"
            alt="Lpic-1-101"
          />
        </a>
        <a (click)="onClick102()" routerLink="../learn-modus/single-modus/1">
          <img
            class="img-fluid rounded mx-auto d-block mb-3 border border-success border-2 zoom"
            src="../../assets/img/102.jpg"
            alt="Lpic-1-102"
          />
        </a>
      </div>
    </div>
    <div class="col border">
      <p>Beschreibung</p>

      <p>Learn Modus</p>

      <p>Check Modus/p></p>

      <p>Exam Modus</p>
    </div>
  </div>
</div>
